<p id="notice"><%= notice %></p>

<p>
  <strong>Photo name:</strong>
  <%= @photo.photo_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Photo size:</strong>
  <%= @photo.photo_size %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
